In [1]:
import pandas as pd

In [2]:
class_df = pd.DataFrame({"Physics":['Force','Electricity'],
                         "Chemistry":['organic','inorganic'],
                         "Biology":['Plant','Animal']},
                        index = [1,2])

In [3]:
new_class_df=pd.melt(class_df)
print(class_df)
print('\n')
print(new_class_df)

  Biology  Chemistry      Physics
1   Plant    organic        Force
2  Animal  inorganic  Electricity


    variable        value
0    Biology        Plant
1    Biology       Animal
2  Chemistry      organic
3  Chemistry    inorganic
4    Physics        Force
5    Physics  Electricity

In [4]:
#each line is a observation, same number of items.
student_df = pd.DataFrame({"Name":['Tom','Tom','Mike','Mike','Mary','Bob'],
                           "Class":['Force','Electricity','inorganic','Force','Plant','Electricity'],
                           "Score":[90,80,60,100,50,100]},
                          columns=['Name','Class','Score'])
student_df_pivot=student_df.pivot(index='Name',columns='Class', values='Score')
student_df_pivot

Class  Electricity  Force  Plant  inorganic
Name
Bob          100.0    NaN    NaN        NaN
Mary           NaN    NaN   50.0        NaN
Mike           NaN  100.0    NaN       60.0
Tom           80.0   90.0    NaN        NaN

In [5]:
student_df_pivot.iloc[0,:] # column number not working

Class
Electricity    100.0
Force            NaN
Plant            NaN
inorganic        NaN
Name: Bob, dtype: float64

In [6]:
student_df_pivot.loc[:,'Electricity':'Plant'] # column number not working  Check rows satisfy and then columns (variables)

Class  Electricity  Force  Plant
Name
Bob          100.0    NaN    NaN
Mary           NaN    NaN   50.0
Mike           NaN  100.0    NaN
Tom           80.0   90.0    NaN

In [7]:
student_df_pivot.loc[student_df_pivot['Electricity']>90,:]

Class  Electricity  Force  Plant  inorganic
Name
Bob          100.0    NaN    NaN        NaN

In [8]:
print('Return all student with class in physics category higher than 90')
Columns_search = list(set(student_df_pivot.columns.values).intersection(class_df['Physics'].values))
print(Columns_search)
print(student_df_pivot[Columns_search]>90)

student_df_pivot.loc[student_df_pivot['Electricity']>90 ,Columns_search]

Return all student with class in physics category higher than 90
['Force', 'Electricity']
Class  Force Electricity
Name
Bob    False        True
Mary   False       False
Mike    True       False
Tom    False       False

Class  Force  Electricity
Name
Bob      NaN        100.0

In [9]:
student_df_pivot[(student_df_pivot['Force']>90) |(student_df_pivot['Electricity']>90)]

Class  Electricity  Force  Plant  inorganic
Name
Bob          100.0    NaN    NaN        NaN
Mike           NaN  100.0    NaN       60.0

In [10]:
student_df_pivot.loc[(student_df_pivot['Force']>90) |(student_df_pivot['Electricity']>90) ,Columns_search]

Class  Force  Electricity
Name
Bob      NaN        100.0
Mike   100.0          NaN

In [11]:
student_df_pivot.loc[(student_df_pivot[Columns_search]>90).any(axis=1),Columns_search]
# any is like OR logic for all elements, all is like AND
# axis =1 is row based, axis=0 is column based

Class  Force  Electricity
Name
Bob      NaN        100.0
Mike   100.0          NaN

In [12]:
def search_students1(student_df_pivot, category, score):
    Columns_search = list(set(student_df_pivot.columns.values).intersection(class_df[category].values))
    print(student_df_pivot.loc[(student_df_pivot[Columns_search]>score).any(axis=1),Columns_search])

In [13]:
search_students1(student_df_pivot, 'Physics', 70)

Class  Force  Electricity
Name
Bob      NaN        100.0
Mike   100.0          NaN
Tom     90.0         80.0