In [1]:
list1 = [[1,3],[2,4]]
list1

[[1, 3], [2, 4]]

In [2]:
list2 = [11,13]

In [9]:
list3 = list1 + [list2] 
list3

[[1, 3], [2, 4], [11, 13]]

In [7]:
import pandas as pd

In [20]:
output_df = pd.DataFrame(list3, columns = ["a2", "a1"])
output_df

   a2  a1
0   1   3
1   2   4
2  11  13

In [28]:
output_df2 = output_df.reindex_axis(sorted(output_df.columns), axis=1)
output_df2

   a1  a2
0   3   1
1   4   2
2  13  11

In [29]:
output_df2.insert(1, "col_name", [7,8,9])
output_df2

   a1  col_name  a2
0   3         7   1
1   4         8   2
2  13         9  11

In [32]:
l1 = [1,2,3]
l2 = [4,5,6]
l1.extend(l2)
l1

[1, 2, 3, 4, 5, 6]

In [33]:
l1 = [1,2,3]
l2 = [4,5,6]
l1.append(l2)
l1

[1, 2, 3, [4, 5, 6]]

In [37]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = l1.copy()
l3.extend(l2)
print(l1)
print(l3)

[1, 2, 3]
[1, 2, 3, 4, 5, 6]

In [43]:
l11 = ['a1','a2','a3']
l22 = ['a4','a5','a6']
l33 = l11.copy()
l33.extend(l22)
print(l11)
print(l33)

['a1', 'a2', 'a3']
['a1', 'a2', 'a3', 'a4', 'a5', 'a6']

In [44]:
l33.insert(2,'a8')
print(l33)

['a1', 'a2', 'a8', 'a3', 'a4', 'a5', 'a6']

In [45]:
l33.index('a8')

2

In [46]:
def category_mapping_name (list):
    result = []
    i = 0
    for item in list:
        result.append("dep"+str(i))
        i += 1
    return result

In [47]:
category_mapping_name(l33)

['dep0', 'dep1', 'dep2', 'dep3', 'dep4', 'dep5', 'dep6']

In [52]:
import numpy as np
for i in np.arange(0, 3):
    print(i)

0
1
2

In [57]:
a = []
for i in np.arange(0,10):
    a.append(i)
pd_out = pd.Series(a)
pd_out

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [59]:
np.rmse(np.array([2,2,3]), np.array([0,2,6]))

AttributeError: 'module' object has no attribute 'rmse'

In [62]:
np.sqrt(np.mean((np.array([1,1,1])-np.array([3,3,3]))**2))

2.0

In [69]:
out_matrix = np.zeros((3,3))
out_matrix

array([[ 0.,  0.,  0.],
       [ 0.,  0.,  0.],
       [ 0.,  0.,  0.]])

In [72]:
out_matrix[1][2] = 3
out_matrix

array([[ 0.,  0.,  0.],
       [ 0.,  0.,  3.],
       [ 0.,  0.,  0.]])